<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="icon" type="image/x-icon" href="./style/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap" rel="stylesheet">
    <title>Tiger Zhu's Website</title>
</head>
<body>

<!----------------- Nav bar: ---------------------->
{{nav-bar}}

<!----------------- background-top: ---------------------->
{{background-top}}

<!----------------- about-me: ---------------------->
{{about-me}}

<!----------------- accomplishments: ---------------------->
{{accomplishments}}

<!----------------- skills: ---------------------->
{{skills}}

<!----------------- arduino-alarm-clock: ---------------------->
{{arduino-alarm-clock}}

<!----------------- feed the dragon: ---------------------->
{{feed-the-dragon}}

<!----------------- Personal Website: ---------------------->
{{personal-website}}

</body>

<footer>
    <!----------------- footer: ---------------------->
    {{footer}}
    
</footer>
</html>