<div class = "content">
    <h1 style = "text-align: center;">Projects</h1>
    <div class = "box-content" id = "projects">
        <h2>Arduino Alarm Clock</h2>
        <img src="./style/images/clock-image.png" alt="clock image" class = "project-img">
        <hr>
        <p style = "text-indent: 30px;">
            The Arduino Alarm Clock is a beginner-friendly project that teaches programming and circuit design. It covers arrays, loops, millis(), state machines, and breadboard assembly.
            The clock displays real-time, allows alarm setting, and triggers a buzzer. It offers a hands-on learning experience in coding and electronics. 
        </p>

        <div class = "bullet_set">
            <ul>
                <li>Push button debouncing for reliable input detection</li>
                <li>Driving the WS5641AS 4x7 segment module without using external libraries</li>
                <li>Designing a state machine to switch between different modes (real-time display, alarm setting, and buzzer activation)</li>
                <li>Implementing an active buzzer for alarm notifications</li>
                <li>Hardware circuit build and test on Breadboard</li>
                <li>Using millis() as a software timer instead of relying on an external hardware timer</li>
            </ul>
        </div>
        <hr>
        <a href = "https://github.com/TigerZhu10/Arduino-alarm-clock?tab=readme-ov-file"> Check out more informations on my GitHub</a>
    </div>
</div>