<div class = "content">
    <div class = "box-content" id = "projects">
        <h2>Pygame: Feed the dragon</h2>
        <img src="./style/images/game.png" alt="feed the dragon image" class = "project-img">
        <hr>
        <p style = "text-indent: 30px;">
            "Feed the Dragon" is an engaging game where players control a dragon to catch coins while avoiding misses to maintain their lives. 
            The game offers increasing difficulty as the coin and dragon speeds ramp up with each successful catch. Featuring vibrant visuals, dynamic sound effects, and intuitive controls, players strive to achieve high scores by reacting quickly. 
        </p>

        <div class = "bullet_set">
            <ul>
                <li>Add a point when touch the coin</li>
                <li>Loose a live when miss the coin</li>
                <li>If you loose all 5 lives, then you lost</li>
            </ul>
        </div>
        <hr>
        <a href = "https://github.com/TigerZhu10/Feed_The_Dragon"> Check out more informations on my GitHub</a>
        <!-- <a href = "project.html"> Check out more informations in this link:</a> -->
    </div>
</div>