<div class = "content">
    <div class = "box-content" id = "projects">
        <h2>Space Invader</h2>
        <img src="./style/images/game_2.png" alt="Space invader game photo" class = "project-img">
        <hr>
        <p style = "text-indent: 30px;">
            Space Invader is a classic-style arcade game built with Python and Pygame. Players control a spaceship to shoot down waves of aliens while dodging incoming threats.
            With limited lives and increasing speed each round, the game challenges players to survive and earn the highest score possible.
        </p>
        <div class = "bullet_set">
            <ul>
                <li>Wave Progression - New waves of aliens appear after clearing the current one, increasing difficulty.</li>
                <li>Score Tracking - Displays and updates the player's score in real time as aliens are destroyed.</li>
                <li>Life System - Players start with 3 lives and lose one if hit by an alien or if aliens reach the bottom.</li>
                <li>Dynamic Speed - Alien, bullet, and ship speeds increase with each round to raise challenge.</li>
                <li>Restart Mechanism - A “Play” button appears after game over, allowing players to restart anytime.</li>

            </ul>
        </div>
        <hr>
        <a href = "https://github.com/TigerZhu10/Space_Invaders"> Check out more informations on my GitHub</a>
        <!-- <a href = "project.html"> Check out more informations in this link:</a> -->
    </div>
</div>