
body{
    margin: 0;
    background-color: #f4f4f4;
}


.background-top{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* Nav bar goes here: */
.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

.nav{
    float: left;
}

.nav a {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #111;
}
/* Nav bar ends here */

.content-top{
    padding: 50px;
    font-size: 30px;
}

.content-top h1{
    margin: 0;
    padding: 0; 
    font-weight: 200;
    font-size: 48px;
}

.name-font{
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.content-top p{
    font-size: 24px;
}

.top-img {
    display: block; 
    width: 100%;
    max-width: 600px; 
    height: auto;
}

.box-content{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 25px;
    border-radius: 20px;
}


.content{
    text-align: left;
    width: 700px;
    margin: 30px auto 0;
}

.bullet_set ul{
    list-style-position: inside;
    margin: 0 auto;
}

.bullet_set li{
    margin-right: 50px;
}

.project-img{
    display: block; 
    width: 100%; 
    height: auto; 
    margin: 10px auto; 
    border-radius: 10px; 
}

hr {
    margin: 20px 0;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    margin-top: 30px;
}


